@model Projet_de_fin_de_formation.Congee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Demande de Congé</h2>

<div>
    <hr />

    <table class="table">
        <tr>
            <th>Employé</th>
            <th>
                <label>Date début</label>
            </th>
            <th>
                <label >Date fin</label>
            </th>
            <th>
                <label>Raison</label>
            </th>
            
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.EmployeeTable.IdEmp)
            </td>
            <td>@Html.DisplayFor(model => model.StartDate)</td>
            <td>
                @Html.DisplayFor(model => model.EndDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.Reason)
            </td>
            <td>

                <button type="submit" class="btn btn-outline-success" onclick="location.href='@Url.Action("Approuver",new { id=Model.idConge })'">Approuver</button>

                <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Refuser",new { id=Model.idConge })'">Refuser</button>
            </td>
        </tr>

    </table>


    
</div>
<p>
    
    @Html.ActionLink("Liste des reclamations", "Index")
</p>
