@model IEnumerable<Projet_de_fin_de_formation.Congee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Demandes de Congé</h2>

<p>
  
    
</p>
<table class="table">
    <tr>
        <th>
            <label for="EmployeeTable.PrenomEmp">Employé</label>
        </th>
        <th>
            <label for="StartDate">Date de debut</label>
        </th>
        <th>
            <label for="EndDate">Date fin</label>
        </th>
        <th>
            <labe for="reason">Raison</labe>
        </th>
        <th>
            <label for="Status">Statut</label>

        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeTable.PrenomEmp)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Reason)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Status)
    </td>

    <td>

        <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("Details",new { id=item.idConge })'">voir</button>

        <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete",new { id=item.idConge })'">Supprimer</button>
    </td>
</tr>
}

</table>
