@model Projet_de_fin_de_formation.reclamation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>reclamation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chantier.NomChantier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chantier.NomChantier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.NomClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.NomClient)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
