@model Projet_de_fin_de_formation.reclamation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Réclamation de la part de @Html.DisplayFor(model => model.Client.NomClient) </h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                <label nom="Client.NomClient">Client</label>
            </th>
            <th>
                <label nom="CHantier.NomChantier">Chantier</label>
            </th>
            <th>
                <label nom="Remarque">Remarque</label>
            </th>
            <th>
                <label for="Chantier.ChefProj">Chef de chantier</label>
            </th>
        </tr>
        <tr>
            <td>                
                @Html.DisplayFor(model => model.Client.NomClient)
            </td>
            <td>@Html.DisplayFor(model=>model.Chantier.NomChantier)</td>
            <td>
                @Html.DisplayFor(model => model.Remarque)
            </td>
            <td>
                @Html.DisplayFor(model=>model.Chantier.ChefProj)
            </td>
        </tr>

    </table>
   
</div>
<p> |
    @Html.ActionLink("Liste des reclamations", "Index")
</p>
