@model Projet_de_fin_de_formation.reclamation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>reclamation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chantier.NomChantier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chantier.NomChantier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.NomClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.NomClient)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idReclamation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
