@model IEnumerable<Projet_de_fin_de_formation.reclamation>

@{
    ViewBag.Title = "IndexFiltred";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Mes Reclamations</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateRec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chantier.NomChantier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.NomClient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateRec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chantier.NomChantier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.NomClient)
        </td>
        <td>
           
        </td>
    </tr>
}

</table>
