@model IEnumerable<Projet_de_fin_de_formation.reclamation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Reclamations</h2>


<table class="table">
    <tr>


        <th>
            <label for="Client.Nom.Client">Client</label>
        </th>

        <th>
            <label for="Chantier.NomChantier">Chantier</label>
        </th>
        <th>
            <label>Remarque</label>
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>



    <td>
        @Html.DisplayFor(modelItem => item.Client.NomClient)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Chantier.NomChantier)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Remarque)
    </td>
    <td>

        <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("Details",new { id=item.idReclamation })'">Voir</button>

        <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete",new { id=item.idReclamation })'">Supprimer</button>
    </td>
</tr>
}

</table>
