@model Projet_de_fin_de_formation.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresseClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresseClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelCLient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelCLient)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idClient }) |
    @Html.ActionLink("Back to List", "Index")
</p>
