@model IEnumerable<Projet_de_fin_de_formation.Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Liste des Clients</h2>

<p>
    @Html.ActionLink("Ajouter un client", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label for="NomClient">Nom</label>
        </th>
        <th>
            <label for="AdresseClient">Adresse</label>

        </th>
        <th>
            <label for="TelClient">Telephone</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdresseClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelCLient)
        </td>
        <td>

            <button type="button" class="btn btn-outline-warning" onclick="location.href='@Url.Action("Edit",new { id=item.idClient })'">Modifier</button>

            <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete",new { id=item.idClient })'">Supprimer</button>
        </td>
    </tr>
}

</table>
