@model Projet_de_fin_de_formation.UserTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTable.PrenomEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTable.PrenomEmp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pseudo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
